<p>
    <mat-toolbar color="primary">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <span><a class="brand-link" routerLink="service-orders">ProsperiDevLab</a></span>
        <span class="example-spacer"></span>
        <mat-menu #menu="matMenu" color="primary">
            <a routerLink="service-orders" mat-btn mat-menu-item>Service Orders</a>
        </mat-menu>
    </mat-toolbar>
</p>

<!-- <a class="navbar-brand" routerLink="/service-orders">Service Orders</a> -->

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
