table {
    width: 100%;
    tr {
        td {
            &:last-child {
                text-align: right;
            }
        }
    }
}

.table {
    &__column {
        &__actions {
            button {
                margin-right: 8px;

                &:last-child {
                    margin-left: 0;
                }
            }
        }
    }
}