<h2>List of service orders</h2>

<div class="d-lg-flex justify-content-between align-items-center">
    <mat-form-field appearance="outline">
        <mat-label>Type to search a service order</mat-label>
        <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <div>
        <a color="primary" mat-flat-button (click)="openCreateServiceOrderDialog()">
            Create Service Order
        </a>
    </div>
</div>

<table class="prosperi-table" matSort mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element"> {{ element.number }} </td>
    </ng-container>

    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let element"> {{ element.title }} </td>
    </ng-container>
    
    <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer </th>
        <td mat-cell *matCellDef="let element"> {{ element.customer.name }} </td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td mat-cell *matCellDef="let element"> {{ element.price.value | currency: element.price.currency.code }}</td>
    </ng-container>
    
    <ng-container matColumnDef="executionDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date (MDY) </th>
        <td mat-cell *matCellDef="let element"> {{ element.executionDate | date: 'MM/dd/yyyy' }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td class="prosperi-table__column__actions" mat-cell *matCellDef="let element" >
            <button mat-stroked-button
                (click)="openCreateServiceOrderDialog(element)">Edit</button>
            <button color="warn" mat-flat-button
                (click)="openDeleteServiceOrderDialog(element)">Delete</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="serviceOrdersColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: serviceOrdersColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>