<h2 *ngIf="!_serviceOrder; else titleEdit" mat-dialog-title>
    Create Service Order
</h2>

<ng-template #titleEdit>
    <h2 mat-dialog-title>
        Edit Service Order
    </h2>
</ng-template>

<mat-dialog-content>
    <form class="prosperi-form" id="createServiceOrderFormId" #serviceOrderForm="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Number</mat-label>
            <input matInput id="number" name="number"[(ngModel)]="serviceOrder.number"
                maxlength="63" required>
            <mat-hint *ngIf="errors?.Number" class="text-danger">{{ errors.Number[0] }}</mat-hint>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput id="title" name="title" [(ngModel)]="serviceOrder.title"
                maxlength="255" required>
            <mat-hint *ngIf="errors?.Title" class="text-danger">{{ errors.Title[0] }}</mat-hint>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Execution Date</mat-label>
            <input matInput [matDatepicker]="picker" id="executionDate" name="executionDate" [(ngModel)]="serviceOrder.executionDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint *ngIf="errors?.ExecutionDate" class="text-danger">{{ errors.ExecutionDate[0] }}</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Price</mat-label>
            <input matInput type="number" id="price__value" name="price__value" [(ngModel)]="serviceOrder.price.value"
                min="-1" required>
            <mat-hint *ngIf="errors['Price.Value']" class="text-danger">{{ errors['Price.Value'][0] }}</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Currency</mat-label>
            <mat-select id="price__currencyId" name="price__currencyId" [(ngModel)]="serviceOrder.price.currencyId" required>
                <mat-option *ngFor="let currency of currencies" [value]="currency.id">
                    {{ currency.code }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Employee</mat-label>
            <mat-select id="employeeId" name="employeeId" [(ngModel)]="serviceOrder.employeeId" required>
                <mat-option *ngFor="let employee of employees" [value]="employee.id">
                    {{ employee.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Customer</mat-label>
            <mat-select id="customerId" name="customerId" [(ngModel)]="serviceOrder.customerId" required>
                <mat-option *ngFor="let customer of customers" [value]="customer.id">
                    {{ customer.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button type="button" mat-stroked-button mat-dialog-close>Close</button>
    <button form="createServiceOrderFormId" type="submit" color="primary" [disabled]="serviceOrderForm.invalid" mat-flat-button>Save</button>
</mat-dialog-actions>