<h2>List of employees</h2>

<a color="primary" mat-flat-button (click)="openCreateEmployeeDialog()">
    Create Employee
</a>

<table class="prosperi-table" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
    </ng-container>

    <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef> CPF </th>
        <td mat-cell *matCellDef="let element"> {{ element.cpf | mask: '000.000.000-00' }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td class="prosperi-table__column__actions" mat-cell *matCellDef="let element" >
            <button mat-stroked-button
                (click)="openCreateEmployeeDialog(element)">Edit</button>
            <button color="warn" mat-flat-button
                (click)="openDeleteEmployeeDialog(element)">Delete</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="employeesColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: employeesColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>